src/test/resources/ADT_A01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v2xml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ADT_A01" type="urn:ADT_A01Type" xmlns:urn="urn:hl7-org:v2xml"/>
  <xs:complexType name="MSH.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.4Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.5Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.6Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.7Type">
    <xs:sequence>
      <xs:element type="xs:long" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.9Type">
    <xs:sequence>
      <xs:element type="xs:string" name="MSG.1"/>
      <xs:element type="xs:string" name="MSG.2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.11Type">
    <xs:sequence>
      <xs:element type="xs:string" name="PT.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSH.12Type">
    <xs:sequence>
      <xs:element type="xs:float" name="VID.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MSHType">
    <xs:sequence>
      <xs:element type="xs:string" name="MSH.1"/>
      <xs:element type="xs:string" name="MSH.2"/>
      <xs:element type="urn:MSH.3Type" name="MSH.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:MSH.4Type" name="MSH.4" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:MSH.5Type" name="MSH.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:MSH.6Type" name="MSH.6" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:MSH.7Type" name="MSH.7" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="MSH.8"/>
      <xs:element type="urn:MSH.9Type" name="MSH.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:short" name="MSH.10"/>
      <xs:element type="urn:MSH.11Type" name="MSH.11" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:MSH.12Type" name="MSH.12" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EVN.2Type">
    <xs:sequence>
      <xs:element type="xs:long" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XCN.2Type">
    <xs:sequence>
      <xs:element name="FN.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ADT"/>
            <xs:enumeration value="CHO"/>
            <xs:enumeration value="CUCINA"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XCN.9Type">
    <xs:sequence>
      <xs:element name="HD.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UCSF"/>
            <xs:enumeration value="EPIC"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XCN.14Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EVN.5Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:XCN.14Type" name="XCN.14" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EVN.6Type">
    <xs:sequence>
      <xs:element type="xs:long" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EVNType">
    <xs:sequence>
      <xs:element type="xs:string" name="EVN.1"/>
      <xs:element type="urn:EVN.2Type" name="EVN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="EVN.4"/>
      <xs:element type="urn:EVN.5Type" name="EVN.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:EVN.6Type" name="EVN.6" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CX.4Type">
    <xs:sequence>
      <xs:element type="xs:string" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.3Type">
    <xs:sequence>
      <xs:element type="xs:int" name="CX.1"/>
      <xs:element type="urn:CX.4Type" name="CX.4" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="CX.5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XPN.1Type">
    <xs:sequence>
      <xs:element name="FN.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SALESFORCE"/>
            <xs:enumeration value="MOM"/>
            <xs:enumeration value="ABM INDUSTRIES INC"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.5Type">
    <xs:sequence>
      <xs:element type="urn:XPN.1Type" name="XPN.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XPN.2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.7Type">
    <xs:sequence>
      <xs:element type="xs:int" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.10Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XAD.1Type">
    <xs:sequence>
      <xs:element name="SAD.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="123 MAIN STREET"/>
            <xs:enumeration value="400 PARNASSUS AVE, 5TH FL"/>
            <xs:enumeration value="50 FREMONT ST, 26TH FLR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.11Type">
    <xs:sequence>
      <xs:element type="urn:XAD.1Type" name="XAD.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XAD.3"/>
      <xs:element type="xs:string" name="XAD.4"/>
      <xs:element type="xs:int" name="XAD.5"/>
      <xs:element type="xs:byte" name="XAD.6"/>
      <xs:element type="xs:string" name="XAD.7"/>
      <xs:element type="xs:string" name="XAD.9"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.13Type">
    <xs:sequence>
      <xs:element name="XTN.1" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="(415)777-7777"/>
            <xs:enumeration value="(415)999-9999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="XTN.2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="P"/>
            <xs:enumeration value="NET"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="XTN.3" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PH"/>
            <xs:enumeration value="CP"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:short" name="XTN.6" minOccurs="0"/>
      <xs:element name="XTN.7" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="7777777"/>
            <xs:enumeration value="9999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="XTN.4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.14Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XTN.1"/>
      <xs:element type="xs:string" name="XTN.2"/>
      <xs:element type="xs:string" name="XTN.3"/>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element type="xs:int" name="XTN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.15Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.16Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.17Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.22Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PID.28Type">
    <xs:sequence>
      <xs:element type="xs:byte" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIDType">
    <xs:sequence>
      <xs:element type="xs:byte" name="PID.1"/>
      <xs:element type="urn:PID.3Type" name="PID.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.5Type" name="PID.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.7Type" name="PID.7" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PID.8"/>
      <xs:element type="urn:PID.10Type" name="PID.10" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.11Type" name="PID.11" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PID.12"/>
      <xs:element type="urn:PID.13Type" name="PID.13" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.14Type" name="PID.14" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.15Type" name="PID.15" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.16Type" name="PID.16" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.17Type" name="PID.17" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PID.19"/>
      <xs:element type="urn:PID.22Type" name="PID.22" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PID.28Type" name="PID.28" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PID.30"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZPDType">
    <xs:sequence>
      <xs:element type="xs:string" name="ZPD.9"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PD1.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XON.1"/>
      <xs:element type="xs:short" name="XON.3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PD1.4Type">
    <xs:sequence>
      <xs:element type="xs:int" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="xs:string" name="XCN.4"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PD1Type">
    <xs:sequence>
      <xs:element type="urn:PD1.3Type" name="PD1.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PD1.4Type" name="PD1.4" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.1Type">
    <xs:sequence>
      <xs:element type="xs:byte" name="EI.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.4Type">
    <xs:sequence>
      <xs:element type="xs:int" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="xs:string" name="XCN.4"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.5Type">
    <xs:sequence>
      <xs:element type="xs:int" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.9Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.10Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.11Type">
    <xs:sequence>
      <xs:element type="urn:XAD.1Type" name="XAD.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XAD.2"/>
      <xs:element type="xs:string" name="XAD.3"/>
      <xs:element type="xs:string" name="XAD.4"/>
      <xs:element type="xs:string" name="XAD.5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROL.12Type">
    <xs:sequence>
      <xs:element name="XTN.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="(415)353-2507"/>
            <xs:enumeration value="(415)476-3381"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="XTN.3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PH"/>
            <xs:enumeration value="FX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element name="XTN.7">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="3532507"/>
            <xs:enumeration value="4763381"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ROLType">
    <xs:sequence>
      <xs:element type="urn:ROL.1Type" name="ROL.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.3Type" name="ROL.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.4Type" name="ROL.4" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.5Type" name="ROL.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.9Type" name="ROL.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.10Type" name="ROL.10" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.11Type" name="ROL.11" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROL.12Type" name="ROL.12" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.2Type">
    <xs:sequence>
      <xs:element type="urn:XPN.1Type" name="XPN.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XPN.2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.4Type">
    <xs:sequence>
      <xs:element type="urn:XAD.1Type" name="XAD.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XAD.3"/>
      <xs:element type="xs:string" name="XAD.4"/>
      <xs:element name="XAD.5">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="94108"/>
            <xs:enumeration value="94105"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:byte" name="XAD.6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.5Type">
    <xs:sequence>
      <xs:element name="XTN.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="(415)777-7777"/>
            <xs:enumeration value="(415)597-4500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element name="XTN.7">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="7777777"/>
            <xs:enumeration value="5974500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.6Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XTN.1"/>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element type="xs:int" name="XTN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.7Type">
    <xs:sequence>
      <xs:element name="CE.1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mother"/>
            <xs:enumeration value="Employer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1Type">
    <xs:sequence>
      <xs:element name="NK1.1">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="urn:NK1.2Type" name="NK1.2" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.3Type" name="NK1.3" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.4Type" name="NK1.4" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.5Type" name="NK1.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.6Type" name="NK1.6" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.7Type" name="NK1.7" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.13Type" name="NK1.13" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1.33Type" name="NK1.33" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="NK1.34" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.13Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XON.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NK1.33Type">
    <xs:sequence>
      <xs:element type="xs:short" name="CX.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PL.4Type">
    <xs:sequence>
      <xs:element type="xs:short" name="HD.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="PL.1"/>
      <xs:element type="xs:short" name="PL.2"/>
      <xs:element type="xs:string" name="PL.3"/>
      <xs:element type="urn:PL.4Type" name="PL.4" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PL.5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.7Type">
    <xs:sequence>
      <xs:element type="xs:int" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="xs:string" name="XCN.4"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.8Type">
    <xs:sequence>
      <xs:element type="xs:int" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="xs:string" name="XCN.4"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.17Type">
    <xs:sequence>
      <xs:element type="xs:int" name="XCN.1"/>
      <xs:element type="urn:XCN.2Type" name="XCN.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.3"/>
      <xs:element type="xs:string" name="XCN.4"/>
      <xs:element type="urn:XCN.9Type" name="XCN.9" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XCN.13"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.19Type">
    <xs:sequence>
      <xs:element type="xs:int" name="CX.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.20Type">
    <xs:sequence>
      <xs:element type="xs:string" name="FC.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.42Type">
    <xs:sequence>
      <xs:element type="urn:PL.4Type" name="PL.4" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1.44Type">
    <xs:sequence>
      <xs:element type="xs:long" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV1Type">
    <xs:sequence>
      <xs:element type="xs:byte" name="PV1.1"/>
      <xs:element type="xs:string" name="PV1.2"/>
      <xs:element type="urn:PV1.3Type" name="PV1.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PV1.4"/>
      <xs:element type="urn:PV1.7Type" name="PV1.7" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV1.8Type" name="PV1.8" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PV1.10"/>
      <xs:element type="xs:string" name="PV1.14"/>
      <xs:element type="urn:PV1.17Type" name="PV1.17" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV1.19Type" name="PV1.19" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV1.20Type" name="PV1.20" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PV1.41"/>
      <xs:element type="urn:PV1.42Type" name="PV1.42" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV1.44Type" name="PV1.44" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV2.2Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV2.8Type">
    <xs:sequence>
      <xs:element type="xs:int" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PV2Type">
    <xs:sequence>
      <xs:element type="urn:PV2.2Type" name="PV2.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV2.8Type" name="PV2.8" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="PV2.21"/>
      <xs:element type="xs:string" name="PV2.22"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZPV.5Type">
    <xs:sequence>
      <xs:element type="xs:string" name="UNKNOWN.1"/>
      <xs:element type="xs:int" name="UNKNOWN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZPVType">
    <xs:sequence>
      <xs:element type="urn:ZPV.5Type" name="ZPV.5" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DG1.3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DG1Type">
    <xs:sequence>
      <xs:element type="xs:byte" name="DG1.1"/>
      <xs:element type="urn:DG1.3Type" name="DG1.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="DG1.4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.2Type">
    <xs:sequence>
      <xs:element type="xs:int" name="CX.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.3Type">
    <xs:sequence>
      <xs:element type="urn:XPN.1Type" name="XPN.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XPN.2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.5Type">
    <xs:sequence>
      <xs:element type="urn:XAD.1Type" name="XAD.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XAD.3"/>
      <xs:element type="xs:string" name="XAD.4"/>
      <xs:element type="xs:int" name="XAD.5"/>
      <xs:element type="xs:byte" name="XAD.6"/>
      <xs:element type="xs:string" name="XAD.9"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.6Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XTN.1"/>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element type="xs:int" name="XTN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.7Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XTN.1"/>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element type="xs:int" name="XTN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.8Type">
    <xs:sequence>
      <xs:element type="xs:int" name="TS.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.11Type">
    <xs:sequence>
      <xs:element type="xs:string" name="CE.1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.16Type">
    <xs:sequence>
      <xs:element type="urn:XPN.1Type" name="XPN.1" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.17Type">
    <xs:sequence>
      <xs:element type="urn:XAD.1Type" name="XAD.1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="XAD.3"/>
      <xs:element type="xs:string" name="XAD.4"/>
      <xs:element type="xs:int" name="XAD.5"/>
      <xs:element type="xs:byte" name="XAD.6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1.18Type">
    <xs:sequence>
      <xs:element type="xs:string" name="XTN.1"/>
      <xs:element type="xs:short" name="XTN.6"/>
      <xs:element type="xs:int" name="XTN.7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GT1Type">
    <xs:sequence>
      <xs:element type="xs:byte" name="GT1.1"/>
      <xs:element type="urn:GT1.2Type" name="GT1.2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.3Type" name="GT1.3" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.5Type" name="GT1.5" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.6Type" name="GT1.6" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.7Type" name="GT1.7" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.8Type" name="GT1.8" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="GT1.9"/>
      <xs:element type="xs:string" name="GT1.10"/>
      <xs:element type="urn:GT1.11Type" name="GT1.11" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="GT1.12"/>
      <xs:element type="urn:GT1.16Type" name="GT1.16" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.17Type" name="GT1.17" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1.18Type" name="GT1.18" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="xs:string" name="GT1.20"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ADT_A01Type">
    <xs:sequence>
      <xs:element type="urn:MSHType" name="MSH" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:EVNType" name="EVN" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PIDType" name="PID" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ZPDType" name="ZPD" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PD1Type" name="PD1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ROLType" name="ROL" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:NK1Type" name="NK1" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV1Type" name="PV1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:PV2Type" name="PV2" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:ZPVType" name="ZPV" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:DG1Type" name="DG1" xmlns:urn="urn:hl7-org:v2xml"/>
      <xs:element type="urn:GT1Type" name="GT1" xmlns:urn="urn:hl7-org:v2xml"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>